@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Fredericka+the+Great&display=swap');
.site-header__title{
    font-family: 'Fredericka the Great', cursive;
}
.main-content__body{
    font-family: 'Bangers', cursive;
}
.site-footer__fineprint{
    font-family: 'Herr Von Muellerhoff', cursive;
}
a:link, a:visited {
    background-color: #ffffff;
    color: rgb(0, 251, 33);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Krona One', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: black;
    box-shadow: inset 0px 0px 5px 2px #00ff7b;
  }
  
  a:hover, a:active {
    background-color: #00ff7b;
  }
  body{
    background: rgb(0,191,255);
background: radial-gradient(circle, rgba(0,191,255,1) 6%, rgba(0,255,167,1) 100%);
  }